{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "experimentalTernaries": true,
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-jsdoc",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./src/styles/globals.css",
  "tailwindAttributes": ["className", "tw"],
  "tailwindFunctions": ["cn"]
}
